.alert-box-container {
  position: fixed;
  z-inde: 9999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  .mask {
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .5;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
  }
  .alert-box {
    position: absolute;
    width: 406px;
    height: 228px;
    background: #fff;
    border: 1px solid #FF6996;
    border-radius: 7px;
    top: 50%;
    left: 50%;
    margin: -114px 0 0 -203px;
    overflow: hidden;
  }
  .alert-box-con {
    height: 100%;
    padding-bottom: 48px;
    display: table;
    p {
      text-align: center;
      font-size: 16px;
      color: rgb(1, 1, 1);
      line-height: 22px;
      padding: 0 48px;
      display: table-cell;
      vertical-align: middle;
    }
  }
  .alert-box-footer {
    .btn-alert-ok  {
      position: absolute;
      left: 0;
      bottom: 0;
    }
  }
}