$icons: sprite-map("icons/*.png", $layout: vertical);
$prefix: 'icon-';
$icons-spacing: 1px;

.icons-sprite {
  background-image: sprite-url($icons);
}
@mixin fnIcon($name) {
  $name: $prefix + $name;
  width: image-width(sprite-file($icons, $name));
  height: image-height(sprite-file($icons, $name));
  background-image: sprite-url($icons);
  background-position: sprite-position($icons, $name);
  background-repeat: no-repeat;
  //background-size: image-width('icons-/*/.png') image-height('icons-/*/.png');
}

.icon {
  display: inline-block;
  width: 90px;
  height: 90px;
  vertical-align: middle;
}

.icon-learn {
  @include fnIcon(learn);
}
